# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Frontend files
# dependencies
/zeal_frontend/node_modules
/zeal_frontend/.pnp
/zeal_frontend/.pnp.js

# testing
/zeal_frontend/coverage

# production
/zeal_frontend/build

# misc
/zeal_frontend/.DS_Store
/zeal_frontend/.env.local
/zeal_frontend/.env.development.local
/zeal_frontend/.env.test.local
/zeal_frontend/.env.production.local

/zeal_frontend/npm-debug.log*
/zeal_frontend/yarn-debug.log*
/zeal_frontend/yarn-error.log*

# Python virtual environment
/venv

# VSCode configs
/.vscode

# Environment variables file
/.env

# Python cache
__pycache__/

# Aleena's always problematic so,
/shell
/events/migrations
/users/migrations
